/* MDN 2.0 */

*{
    font-family: 'Noto Sans', 'Open Sans', system-ui, 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: rgb(10, 10, 10);
    color: rgb(220, 220, 220);
    margin: 2rem auto;
    max-width: 40rem;
}

header nav {
    text-align: right;
}

p {
    line-height: 1.5rem;
}

footer {
    text-align: center;
}

.logo {
    margin-top: -1rem;
    width: 40px;
    height: 40px;
}

.logo:hover {
    filter: drop-shadow(0 0 0.1rem rgb(255, 154, 205));
}

a:link {
    text-decoration: underline dotted;
    color: rgb(255, 154, 205);
}

a:hover {
    background-color: transparent;
    text-shadow: 0 0 0.313rem rgb(255, 154, 205);
}

a:visited {
    color: rgb(255, 154, 205);
}

.small {
    font-size: 0.7rem;
    margin-top: -1.2rem;
}